@using WebApplication1.Models
@model MeterParameters


@{
    int rc;
    int result = 0;
    if (ViewBag.result != null)
    {
        result = ViewBag.result;
    }

    Customer[] customers = Customer.GetCustomers(new CustomerParameters { }, out rc);

}


<div style="flex:1; padding-left: 35px" class="vertical-align">

    @using (Html.BeginForm("NewMeter", "NewCustomer", FormMethod.Post))
    {

        <table>

            <tbody>

                <tr><td>Id</td></tr>

                <tr><td>@Html.TextBoxFor(o => o.Id)</td></tr>

                <tr><td>userid</td></tr>

                <tr><td>@Html.DropDownListFor(o => o.UserId, new SelectList(customers, "Id", "name"))</td></tr>


                <tr><td>Amount</td></tr>

                <tr><td>@Html.TextBoxFor(o => o.Amount)</td></tr>


                <tr><td>meterid</td></tr>

                <tr><td>@Html.TextBoxFor(o => o.Meterid)</td></tr>

            </tbody>
        </table>

        <input type="submit" value="NewMeter" />

        <p> the result is:@result</p>

    }

</div>


<div style="text-align: center;">
    <div class="hexagon full small blue">

        <span></span>
        <img src="~/images/user.png" style="width: 140px;z-index: 4;position: relative;" />
    </div>
    <div class="hexagon blue">
        <span></span>

        <div class="content">

            <a class="brand-button brand-button-2" href="@Url.Action("NewCard", "NewCustomer")">تسجيل بطاقة جديدة</a>


            <a class="brand-button brand-button-2" href="@Url.Action("NewCustomer","Mainpage")">تسجيل مستخدم جديد</a>


            <a class="brand-button brand-button-2" href="@Url.Action("NewMeter", "Customers")">تسجيل عداد جديد</a>


            <a class="brand-button brand-button-2" href="@Url.Action("index", "Mainpage")">الصفحة الرئسية</a>

        </div>
    </div>
</div>


